@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p {
  font-size: 125px;
}

#number {
  font-size: 200px;
  text-align: center;
  position: absolute;
}

#card {
  border-radius: 25px;
  height: 600px;
  width: 400px;
  display: flex;
}

#card::before,
#card::after {
  font-size: 125px;
  position: absolute;
}

#card::before {
  top: 0px;
  left: 30px;
}
#card::after {
  bottom: 0px;
  right: 30px;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spade::before,
.spade::after {
  content: "♠";
  color: black;
}
.heart::before,
.heart::after {
  content: "♥";
  color: red;
}
.diamond::before,
.diamond::after {
  content: "♦";
  color: red;
}
.club::before,
.club::after {
  content: "♣";
  color: black;
}
.spade::after,
.heart::after,
.diamond::after,
.club::after {
  transform: rotate(180deg);
}
